@import 'tailwindcss';

:root {
  --primary: #0a85d1;
  --primary-darker: #0769a9;
  --primary-lighter: #3fa5e4;
  --secondary: #fdaa33 !important;
  --secondary-darker: #e09529 !important;
  --secondary-lighter: #fdc166;
}

@layer base {
  html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    color: #1f2937;
    background-color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

@layer components {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    border-radius: 0.5rem;
    transition-property: color, background-color, border-color;
  }

  .btn-primary {
    background-color: var(--primary);
    color: white;
  }

  .btn-secondary {
    background-color: var(--secondary);
    color: white;
  }
}
